generic-page h1{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 100;
    padding-top: 100px;
    text-transform:uppercase;
}
generic-page h2{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 100;
    padding-top: 100px;
    text-transform:uppercase;
    opacity: 0.8;
}

generic-page h2 b{
    font-weight: 500;
    opacity: 1;
}
generic-page h3{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 100;
    text-transform:uppercase;
    opacity: 0.8;
}
generic-page linea-larga{
    display: block;
    width: 100%;
    line-height: 0;
    margin: 0;
    background-color: var(--secondColor);
    height: 3px;
}
generic-page space{
    display: block;
    height: 50px;
}
generic-page tags span:hover{
    padding: 5px !important;
}
generic-page figcaption{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
generic-page figcaption h1{
    background-color: var(--secondColor);
    width: 100%;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: var(--thirdColor);
    transition: 0.3s;
}

generic-page figcaption h1 span{
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0;
}
.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-item{
    flex: auto;
    padding: 10px;
}
.flex-item p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin: 0;
}
.flex-item h3{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 100;
    text-transform:uppercase;
    margin: 0;
}
.set-background-gradient-1{
    background: linear-gradient(27deg, var(--fifthColor) 60%, var(--fourthColor) 100%);
}
.set-background-gradient-2{
    background: linear-gradient(77deg, #E8E5E0 30%, #d6f93d 100%);
}
alianzas{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
alianzas alianza{
    display: flex;
    flex-direction: column;
}
alianzas alianza nombre{
    font-size: 2rem;
    padding: 5px;
    background-color: var(--mainColor);
    color: var(--thirdColor);
}
alianzas alianza direccion{
    background-color: var(--secondColor);
    color: var(--thirdColor);
    margin-left: 1rem !important;
    font-size: 1rem !important;
    padding: 3px 1rem;

    overflow-wrap: break-word;
    /*text-align: right;*/
    transition: 0.3s;
}
alianzas alianza direccion:hover{
    cursor: pointer;
    background-color: var(--fourthColor);
    color: var(--secondColor);
}
personas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
personas persona{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex: 1 1;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 400px;
    opacity: 1;
    transition: 0.3s;
    align-items: center;
    margin: 1rem 0;
    justify-content: center;
}
persona foto{
    width: 200px;
    height: 200px;
}
persona foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
persona nombre{
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform:uppercase;
    text-align: center;
}
persona over{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: var(--secondColor);
    overflow: hidden;
    transition: 0.1s;
    color: var(--thirdColor);
    justify-items: end;
    border-radius: 15px;
}
persona over p{
    padding: 1rem;
    bottom: 0px;
    position: absolute;
}
persona:hover{
    cursor: pointer;
}
persona:hover over{
    height: 100% !important;
    top: 0px !important;
}
frameimage{
    display: block;
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}
frameimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 7.7s;
}
frameimage img:hover{
    transform: scale(1.2);
}
frameimage text-top{
    position: absolute;

    top: 0px;

    color: var(--thirdColor);
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1.5rem;
    /*width: 60%;*/
}
frameimage text-bottom{
    position: absolute;

    bottom: 0px;

    color: var(--thirdColor);
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1.5rem;

}
frameimage h3{
    margin: 0px !important;
}
.anchor-left{
    left: 0;
}
.anchor-right{
    right: 0;
}
.width-60{
    width: 60%;
}
.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.footerfinalBlue{
    z-index: 30;
}
.footerfinal{
    z-index: 25;
}
@media (max-aspect-ratio: 6/7) {
    .flex-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-item{
        padding: 30px 10px;
    }
    generic-page h1{
        font-size: 3rem;
        line-height: 3rem;
        overflow-wrap: break-word;
    }
    generic-page h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    generic-page h3{
        font-size: 2rem;
        line-height: 2rem;
    }
    alianzas alianza direccion{
        text-align: right;
    }
}