{% load filters %}
<section class="nopadding" id="{{ bloque_data.id_global }}">
    <{{ bloque_data.section_type }} class="slider-horizontal">
        <holder>
            <proyecto ><circulo></circulo><caratula>{{ bloque_data.titulo_caratula }}</caratula></proyecto>
            <proyecto></proyecto>
            {% for slide in bloque_data.data %}
                {% if bloque_data.tipo == "proyecto" %}

                    <proyecto>
                        <img id="back" src="{{ slide.imagen_principal.url }}" alt="">
                        <datos>
                            <titulo><span>{{ slide | proyecto_titulo:idioma }}</span></titulo>
                            {% if not slide.es_servicio %}
                            <data>
                                {% if slide.anio is not None %}
                                <fecha>{{ slide.anio }}</fecha>
                                {% endif %}
                                {% if slide.ciudad is not None %}
                                <lugar>{{ slide.ciudad }}</lugar>
                                {% endif %}
                                {% if slide.pais is not None %}
                                <pais>{{ slide.pais }}</pais>
                                {% endif %}
                            </data>
                            {% endif %}
                            <tags>
                                {% for tag in slide.tags.all %}
                                    {% if slide.es_servicio %}
                                    <span onclick="window.open('{% url 'soluciones' %}?tags={{ tag.tag }}',target='_self');return false">{{ tag|nombre_tag:idioma }}</span>
                                    {% else %}
                                    <span onclick="window.open('{% url 'proyectos' %}?tags={{ tag.tag }}',target='_self');return false">{{ tag|nombre_tag:idioma }}</span>
                                    {% endif %}
                                {% endfor %}

                            </tags>
                            <figcaption>

                                <h1>{{ slide | proyecto_slidetext:idioma}}</h1>

                            </figcaption>
                            {% if slide.es_servicio %}
                            <boton-naranja id="{{ slide.slug }}" onclick="window.open('{% url 'soluciones' %}{{ slide.slug }}',target='_self');return false">
                                {{ bloque_data.ver | safe }}</boton-naranja>
                            {% else %}
                            <boton-naranja id="{{ slide.slug }}" onclick="window.open('{% url 'proyectos' %}{{ slide.slug }}',target='_self');return false">{{ bloque_data.ver | safe }}</boton-naranja>
                            {% endif %}
                            <!--script>
                                document.getElementById("{{ slide.slug }}").onclick = function(){
                                    //alert("{{ slide.slug }}");
                                    TryLoadProyecto("{{ slide.slug }}");
                                }
                            </script-->
                        </datos>
                    </proyecto>
                {% elif bloque_data.tipo == "texto" %}
                    <proyecto>
                        <background-gradient-{{ slide.background_id }} id="back"></background-gradient-{{ slide.background_id }}>
                        <datos>
                            {% if slide.titulo is not None %}
                            <tituloBig class="{{ slide.titulo.style }}"><span class="{{ slide.titulo.style_back }}">{{ slide.titulo.text }}</span></tituloBig>
                            {% endif %}
                            {% if slide.detailtext is not None %}
                            <detail-texto class="{{ slide.detailtext.style }}">
                                <h1>{{ slide.detailtext.text | safe }}</h1>
                            </detail-texto>
                            {% endif %}
                            {% if slide.onlytext is not None %}
                            <only-text>
                                <span class="{{ slide.onlytext.style }}">{{ slide.onlytext.text | safe }}</span>
                            </only-text>
                            {% endif %}
                        </datos>
                    </proyecto>
                {% endif %}
                <proyecto class="only-hidden"></proyecto>
            {% endfor %}
        </holder>
        <skip-button id="{{ bloque_data.skip_id }}"><span>{{ bloque_data.saltear | safe }}</span></skip-button>
    </{{ bloque_data.section_type }}>
</section>
<half-section class="only-hidden"></half-section>
<anchor-test id="{{ bloque_data.skip_to }}"></anchor-test>
<script>
    last =carrouseles.push({})
    carrousel=carrouseles[last-1]
    carrousel.skip_id="{{ bloque_data.skip_id }}"
    carrousel.skip_to="{{ bloque_data.skip_to }}"
    carrousel.anchor_main = "{{ bloque_data.id_global }}"
    carrousel.anchor_pre = "{{ bloque_data.anchor_pre }}"
    carrousel.section_type = "{{ bloque_data.section_type }}"
    {% if bloque_data.tracker is not None %}
        carrousel.customTrackers="{{ bloque_data.tracker }}";
    {% else %}
        carrousel.customTrackers=""
    {% endif %}
    {% if bloque_data.pretracker is not None %}
        carrousel.pretracker="{{ bloque_data.pretracker }}";
    {% else %}
        carrousel.pretracker=""
    {% endif %}

</script>