<div class="footerfinal" >
        <div class="subLeft">

        </div>
        <div class="subMid">
          <panelleft>
            <h1>{{ bloque_data.data.info.titulo }}</h1>
            <linea></linea>
              <form id="contact_form" action="/contactajx" method="Post">
            <input type="text" id="fname" name="firstname" placeholder="{{ bloque_data.data.info.placeholder_name }}">
            <input type="email" id="email" name="email" placeholder="{{ bloque_data.data.info.placeholder_email }}">
            <input type="text" id="titulo" name="titulo" placeholder="{{ bloque_data.data.info.placeholder_titulo }}">

            <textarea id="msg" name="msg" placeholder="{{ bloque_data.data.info.placeholder_msg }}" ></textarea>

            <input type="submit" value="{{ bloque_data.data.info.placeholder_enviar }}">
              </form>
          </panelleft>
          <panelright>
            <top></top>
            <linea></linea>
            <direcciones>

                {% for dir in bloque_data.data.direcciones.all %}
                    <direccion>
                        <ciudad>{{ dir.ciudad }}</ciudad>
                        <pais>{{ dir.pais }}</pais>
                        <calle onclick="window.open('{{ dir.geolink | safe }}',target='_blank')">{{ dir.calle | safe }}</calle>
                        <correo onclick="window.open('mailto:{{ dir.correo }}')">{{ dir.correo }}</correo>
                        <telefono onclick="window.open('tel:{{ dir.telefono }}')">{{ dir.telefono }}</telefono>
                    </direccion>
                {% endfor %}


            </direcciones>
          </panelright>
        </div>
        <div class="subRight">

        </div>
      </div>
<script type="text/javascript">
    var frm = $('#contact_form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#SOME-DIV").html(data);
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    });
</script>