<div class="footerfinalBlue">
    <div class="subLeft">

    </div>
    <div class="subMid">
      <linea></linea>
      <redes>
        <red onclick="window.open(`{{ menuover.links.instagram }}`,target='_blank');return false">{{ menuover.redes.instagram }}</red>|
        <red onclick="window.open(`{{ menuover.links.youtube }}`,target='_blank');return false">{{ menuover.redes.youtube }}</red>|
        <red onclick="window.open(`{{ menuover.links.linkedin }}`,target='_blank');return false">{{ menuover.redes.linkedin }}</red>
      </redes>
      <microlinks>
        <p onclick="window.open(`{% url 'index' %}`,target='_self');return false">{{ menuover.navegacion.home }}</p>
        <p onclick="window.open(`{% url 'proyectos' %}`,target='_self');return false">{{ menuover.navegacion.proyectos }}</p>
        <p onclick="window.open(`{% url 'soluciones' %}`,target='_self');return false">{{ menuover.navegacion.soluciones }}</p>
        <p onclick="window.open(`{% url 'nosotros' %}`,target='_self');return false">{{ menuover.navegacion.nosotros }}</p>
        <p onclick="window.open(`{% url 'vivo' %}`,target='_self');return false">{{ menuover.navegacion.vivo }}</p>
        <p onclick="window.open(`{% url 'nosotros' %}#contacto`,target='_self');return false">{{ menuover.navegacion.contactanos }}</p>
      </microlinks>
    </div>
    <div class="subRight">

    </div>
</div>