<div class="footerfinalBlue">
    <div class="subLeft">

    </div>
    <div class="subMid">
      <linea></linea>
      <redes>
        <red>INSTAGRAM</red>|
        <red>YOUTUBE</red>|
        <red>LINKEDIN</red>
      </redes>
      <microlinks>
        <p onclick="window.open(`{% url 'index' %}`,target='_self');return false">HOME</p>
        <p onclick="window.open(`{% url 'proyectos' %}`,target='_self');return false">PROYECTOS</p>
        <p onclick="window.open(`{% url 'soluciones' %}`,target='_self');return false">SOLUCIONES</p>
        <p onclick="window.open(`{% url 'nosotros' %}`,target='_self');return false">NOSOTROS</p>
        <p onclick="window.open(`{% url 'vivo' %}`,target='_self');return false">VIVO USINA</p>
        <p onclick="window.open(`{% url 'nosotros' %}#contacto`,target='_self');return false">CONTACTANOS</p>
      </microlinks>
    </div>
    <div class="subRight">

    </div>
</div>