{% load static %}
<section class="menu-over fullWidth">
    <holder id="menu-over-holder" class="hide-menu-over">
        <close id="close-menu-over-holder">
            <i class="bi bi-x-circle-fill"></i>
        </close>
        <section style="align-self: center;">
            <img src = "{% static 'svgs/logos/LogoUBlueDark.svg' %}" alt="U"/>
            <div id="Idioma1">
                <h1>{{ menuover.idioma.titulo }}</h1>
                <linea></linea>
                <p>{{ menuover.idioma.esp }}</p>
                <p>{{ menuover.idioma.por }}</p>
            </div>
        </section>

        <section>
            <h1>{{ menuover.navegacion.titulo }}</h1>
            <linea></linea>
            <p onclick="window.open(`{% url 'index' %}`,target='_self');return false">{{ menuover.navegacion.home }}</p>
            <p onclick="window.open(`{% url 'proyectos' %}`,target='_self');return false">{{ menuover.navegacion.proyectos }}</p>
            <p onclick="window.open(`{% url 'soluciones' %}`,target='_self');return false">{{ menuover.navegacion.soluciones }}</p>
            <p onclick="window.open(`{% url 'nosotros' %}`,target='_self');return false">{{ menuover.navegacion.nosotros }}</p>
            <p onclick="window.open(`{% url 'vivo' %}`,target='_self');return false">{{ menuover.navegacion.vivo }}</p>
            <p onclick="window.open(`{% url 'nosotros' %}#contacto`,target='_self');return false">{{ menuover.navegacion.contactanos }}</p>
        </section>

        <section>
            <h1>{{ menuover.redes.titulo }}</h1>
            <linea></linea>
            <p>{{ menuover.redes.instagram }}</p>
            <p>{{ menuover.redes.youtube }}</p>
            <p>{{ menuover.redes.linkedin }}</p>
        </section>
        <section id="Idioma2">
            <h1>{{ menuover.idioma.titulo }}</h1>
            <linea></linea>
            <p>{{ menuover.idioma.esp }}</p>
            <p>{{ menuover.idioma.por }}</p>
        </section>
    </holder>
  </section>
<script>
    function OpenMenuOver() {
        $("#menu-over-holder").removeClass("hide-menu-over");
    }
    function closeMenuOver() {
        $("#menu-over-holder").addClass("hide-menu-over");
    }
    $("#close-menu-over-holder").on("click", function(){
        closeMenuOver();
    })
</script>