{% load static %}
<!DOCTYPE html>

<!--html lang="es" class="prevent-scroll-y"-->
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USINA::NOSOTROS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
          }
        }
      </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"-->
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="{% static 'css/preload.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediavertical.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediahorizontalextra.css' %}">
    <link rel="stylesheet" href="{% static 'css/generic.css' %}">


</head>

<body style="background-color: transparent ">
<script>
    globalOnPreInitRun=[]
</script>
<canvas id="bg" class="set-background-gradient-2" style="z-index: -1"></canvas>
<section-large id="nosotros">
    <generic-page id="test">
        <h1>{{ nosotrosdata.nosotros.b1 | safe }}</h1>
        <figcaption><h1>{{ nosotrosdata.nosotros.fig | safe }}</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <h2>{{ nosotrosdata.nosotros.b2 | safe }}</h2>

        <frameimage>
            <img src="{% static nosotrosdata.nosotros.frame1.image %}">
            <text-top class="set-backcolor-1 anchor-left width-60">{{ nosotrosdata.nosotros.frame1.top | safe}}</text-top>
            <text-bottom class="set-backcolor-1 anchor-left"><h3>{{ nosotrosdata.nosotros.frame1.bottom | safe }}</h3></text-bottom>
        </frameimage>
        <space></space>
        <h3>
            {{ nosotrosdata.nosotros.b3 | safe }}
        </h3>
        <h2>{{ nosotrosdata.nosotros.b4 | safe }}</h2>

        <frameimage>
            <img src="{% static nosotrosdata.nosotros.frame2.image %}">
            <text-top class="set-backcolor-2 anchor-left"><h3>{{ nosotrosdata.nosotros.frame2.top | safe }}</h3></text-top>
            <text-bottom class="set-backcolor-2 anchor-right width-60">{{ nosotrosdata.nosotros.frame2.bottom | safe }}</text-bottom>
        </frameimage>

        <h1>{{ nosotrosdata.nosotros.b5 | safe }}</h1>

        <frameimage>
            <img src="{% static nosotrosdata.nosotros.frame3.image %}">
            <text-top class="set-backcolor-2 anchor-left width-60"><h3>{{ nosotrosdata.nosotros.frame3.top | safe }}</h3></text-top>
            <text-bottom class="set-backcolor-2 anchor-left">{{ nosotrosdata.nosotros.frame3.bottom | safe }}</text-bottom>
        </frameimage>
        <space></space>

    </generic-page>

</section-large>
<half-section></half-section>
<section-large id="alianzas" class="set-backcolor-4" style="z-index: 1">

    <generic-page>

        <space></space>
        <h1>{{ nosotrosdata.alianzas.b1 | safe }}</h1>
        <space></space>
        <figcaption><h1>{{ nosotrosdata.alianzas.fig | safe }}</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <h2>{{ nosotrosdata.alianzas.b2 | safe }}</h2>
        <alianzas>
            {% for alianza in alianzas %}
                <alianza>
                <nombre>{{ alianza.titulo | safe }}</nombre>
                {% for link in alianza.links %}
                     <direccion onclick="window.open('{{ link }}','_blank');">visitar</direccion>
                {% endfor %}

            </alianza>
            {% endfor %}

        </alianzas>
        <space></space>
        <space></space>

    </generic-page>
</section-large>
<half-section></half-section>
<section-large id="personas" class="set-background-gradient-3" style="z-index: 20">
    <generic-page>
        <space></space>
        <h1>{{ nosotrosdata.personas.b1 | safe }}</h1>

        <figcaption><h1>{{ nosotrosdata.personas.fig | safe }}</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <h2>{{ nosotrosdata.personas.b2 | safe }}</h2>

        <personas>
            {% for persona in personas %}
                <persona>
                <foto>
                    <img src="{{ persona.foto.url }}">
                </foto>
                <nombre>{{ persona.nombre }}</nombre>
                <cargo>{{ persona.posicion | safe}}</cargo>
                <over><p>{{ persona.resume | safe }}</p></over>
                </persona>
            {% endfor %}


        </personas>
    </generic-page>

</section-large>
<half-section></half-section>
<!--solapas>
    <solapa>
        <span class="rotate">NOSOTROS</span>
    </solapa>
    <solapa>
        <span class="rotate">ALIANZAS</span>
    </solapa>
</solapas-->
<section-large class="set-backcolor-3" style="z-index: 25; position: relative">
    <generic-page>
        <space></space>
        <h1>{{ contact.data.info.copete | safe }}</h1>
        <space></space>
    </generic-page>
</section-large>
{% include "bloques/contactformsection2.html" with bloque_data=contact %}
{% include "bloques/footerblue.html" %}
{% include "bloques/hud2.html" %}
{% include "bloques/menuover.html" with menuover=menuover%}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollToPlugin.min.js"></script>
    <script src="{% static 'js/textFit.js' %}"></script>
    <script src="{% static 'js/nosotros.js' %}" type="module"></script>
</body>
</html>