{% load static %}
<!DOCTYPE html>

<!--html lang="es" class="prevent-scroll-y"-->
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USINA::NOSOTROS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
          }
        }
      </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"-->
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="{% static 'css/preload.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediavertical.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediahorizontalextra.css' %}">
    <link rel="stylesheet" href="{% static 'css/generic.css' %}">


</head>

<body style="background-color: transparent ">
<script>
    globalOnPreInitRun=[]
</script>
<canvas id="bg" class="set-background-gradient-2" style="z-index: -1"></canvas>
<section-large id="nosotros">
    <generic-page id="test">
        <h1>Aunque seamos pocos, somos muchos.</h1>
        <figcaption><h1>NOSOTROS</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <h2><b>Usina</b> es un espacio de convergencia entre <b>arte</b>, <b>tecnología</b>, <b>ciencia</b>, <b>comunicacion</b> y <b>cultura</b> donde apostamos por el potencial de los <b>proyectos culturales</b> para mejorar una <b>comunidad</b>.
        </h2>
        <!--div class="flex-horizontal set-backcolor-1">
            <div class="flex-item set-color-3">
                <p>Entendemos que cada propuesta cobra sentido a través de su apropiación por parte del público.</p>
            </div>
            <div class="flex-item set-color-3">
                <h3> Nuestra motivación es la energía devuelta por la comunidad. </h3>
            </div>
        </div-->
        <frameimage>
            <img src="{% static 'imgs/about/about1.jpeg' %}">
            <text-top class="set-backcolor-1 anchor-left width-60">Entendemos que cada propuesta cobra sentido a través de su apropiación por parte del público.</text-top>
            <text-bottom class="set-backcolor-1 anchor-left"><h3> Nuestra motivación es la energía devuelta por la comunidad. </h3></text-bottom>
        </frameimage>
        <space></space>
        <h3>
            Desde 2010, desarrollamos proyectos
culturales articulando sector público,
privado y el tercer sector en
 Argentina, Brasil, México y otros países
 de Latinoamérica.
        </h3>
        <h2>
            nuestra busqueda esta en tratar de hacer llegar ciertos contenidos, cierta informacion a la mayor cantidad de gente posible, <b>por eso nos gusta imaginar la ciudad como escenario ideal.</b>
        </h2>
        <!--div class="flex-horizontal set-backcolor-2">
            <div class="flex-item set-color-3">
                <h3>Somos interpretaciones artísticas del conocimiento.</h3>
            </div>
            <div class="flex-item set-color-3">
                <p>Vemos la información como una potencial manifestación estética que puede desde embellecer lo cotidiano hasta diseñar futuros mejores.</p>
            </div>

        </div-->
        <frameimage>
            <img src="{% static 'imgs/about/about2.jpeg' %}">
            <text-top class="set-backcolor-2 anchor-left"><h3>Somos interpretaciones artísticas del conocimiento.</h3></text-top>
            <text-bottom class="set-backcolor-2 anchor-right width-60">Vemos la información como una potencial manifestación estética que puede desde embellecer lo cotidiano hasta diseñar futuros mejores.</text-bottom>
        </frameimage>
        <!--div class="flex-horizontal set-backcolor-2">

            <div class="flex-item set-color-3" style="padding-top: 50px">
                <h3>Es en la dialéctica ciencia-arte que encontramos un gran campo de acción.</h3>
            </div>

        </div-->
        <h1>
            Es en la dialéctica ciencia-arte que encontramos un gran campo de acción.
        </h1>
        <!--div class="flex-horizontal set-backcolor-2">
            <div class="flex-item set-color-3">
                <h3>Un Laboratorio permanente</h3>
            </div>
            <div class="flex-item set-color-3">
                <p>Somos pensadores de proyectos, catalizadores de ideas, estamos en estado de permante creacion y producicon.</p>
            </div>

        </div-->
        <frameimage>
            <img src="{% static 'imgs/about/about3.jpeg' %}">
            <text-top class="set-backcolor-2 anchor-left width-60"><h3>Un Laboratorio permanente</h3></text-top>
            <text-bottom class="set-backcolor-2 anchor-left">Somos pensadores de proyectos, catalizadores de ideas, estamos en estado de permante creacion y producicon.</text-bottom>
        </frameimage>
        <space></space>

    </generic-page>

</section-large>
<half-section></half-section>
<section-large id="alianzas" class="set-backcolor-4" style="z-index: 1">

    <generic-page>
        <space></space>
        <h1>Soñadores, sí, pero también proactivos y resolutivos. Siempre encontramos la manera</h1>
        <space></space>
        <figcaption><h1>ALIANZAS</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <h2>Nos apoyamos en la colaboración entre disciplinas y saberes que al unirse potencian nuevas ideas para explorar nuevas posibilidades.</h2>
        <alianzas>
            <alianza>
                <nombre>The White Lodge</nombre>
                <direccion>visitar</direccion>
            </alianza>
            <alianza>
                <nombre>Universidad Nacional de Cordoba</nombre>
                <direccion>LINK 1</direccion>
            </alianza>
            <alianza>
                <nombre>Red de gestion Cultural Publica</nombre>
                <direccion>https://www.redgestioncultural.org/quienes-somos</direccion>
            </alianza>
        </alianzas>
        <space></space>
        <space></space>

    </generic-page>
</section-large>
<half-section></half-section>
<section-large id="personas" class="set-background-gradient-3" style="z-index: 20">
    <generic-page>
        <space></space>
        <h1>un equipo multi-disciplinario de profesionales</h1>

        <figcaption><h1>PERSONAS</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <h2>Creemos en la intersección de saberes y en la riqueza de las perspectivas diversas para construir nuestros proyectos.</h2>

        <personas>
            <persona>
                <foto>
                    <img src="/media/images/proyectos/nunsacat1.jpeg" alt="">
                </foto>
                <nombre>Matias Brusa</nombre>
                <cargo>Presidente Mundial</cargo>
                <over><p>Licenciado en educación, gestor
cultural y emprendedor en el
campo del arte con más de 20 años
de experiencia en el desarrollo de
producciones artísticas y
activaciones con propósito para
marcas en espacio público.</p></over>
            </persona>
            <persona>
                <foto>
                    <img src="/media/images/proyectos/nunsacat1.jpeg" alt="">
                </foto>
                <nombre>Matias Brusa Brusanovich</nombre>
                <cargo>Presidente Mundial</cargo>
                <over><p>Licenciado en educación, gestor
cultural y emprendedor en el
campo del arte con más de 20 años
de experiencia en el desarrollo de
producciones artísticas y
activaciones con propósito para
marcas en espacio público.</p></over>
            </persona>
            <persona>
                <foto>
                    <img src="/media/images/proyectos/nunsacat1.jpeg" alt="">
                </foto>
                <nombre>Matias Brusa</nombre>
                <cargo>Presidente Mundial</cargo>
                <over><p>Licenciado en educación, gestor
cultural y emprendedor en el
campo del arte con más de 20 años
de experiencia en el desarrollo de
producciones artísticas y
activaciones con propósito para
marcas en espacio público.</p></over>
            </persona>
            <persona>
                <foto>
                    <img src="/media/images/proyectos/nunsacat1.jpeg" alt="">
                </foto>
                <nombre>Matias Brusa</nombre>
                <cargo>Presidente Mundial</cargo>
            </persona>
            <persona>
                <foto>
                    <img src="/media/images/proyectos/nunsacat1.jpeg" alt="">
                </foto>
                <nombre>Matias Brusa</nombre>
                <cargo>Presidente Mundial</cargo>
            </persona>
        </personas>
    </generic-page>

</section-large>
<half-section></half-section>
<!--solapas>
    <solapa>
        <span class="rotate">NOSOTROS</span>
    </solapa>
    <solapa>
        <span class="rotate">ALIANZAS</span>
    </solapa>
</solapas-->
<section-large class="set-backcolor-3" style="z-index: 25; position: relative">
    <generic-page>
        <space></space>
        <h1>{{ contact.data.info.copete | safe }}</h1>
        <space></space>
    </generic-page>
</section-large>
{% include "bloques/contactformsection2.html" with bloque_data=contact %}
{% include "bloques/footerblue.html" %}
{% include "bloques/hud2.html" %}
{% include "bloques/menuover.html" with menuover=menuover%}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollToPlugin.min.js"></script>
    <script src="{% static 'js/textFit.js' %}"></script>
    <script src="{% static 'js/nosotros.js' %}" type="module"></script>
</body>
</html>