{% load static %}
<!DOCTYPE html>

<!--html lang="es" class="prevent-scroll-y"-->
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USINA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
          }
        }
      </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"-->
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="{% static 'css/preload.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediavertical.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediahorizontalextra.css' %}">
    <link rel="stylesheet" href="{% static 'css/proyectos.css' %}">

</head>
<body>
    <script>
        core={};
        core.stack=[]
        core.currentId=1;
        core.labels={
            "back":"{{ base.back }}",
            "next":"{{ base.next }}",
            "fecha":"{{ base.fecha }}",
            "ubicacion":"{{ base.ubicacion }}",
            "participaron":"{{ base.participaron }}",
        }
        tags={};
        tagsList=[];
        animando1=false;
        function clickOnTag(tag){
            if(animando1){
                return;
            }
            if(core.currentId>1){
                closeAll();
            }
            animando1=true;
            //alert(tag);
            let toRemove= filterList.indexOf(tag)
            if(toRemove>=0){
                filterList.splice(toRemove, 1)
                tags[tag]["status"]=1;
            }else {
                filterList.push(tag)
                tags[tag]["status"]=2;
            }
            processFilter()
            drawTags()
            pushState("")
        }
        proy = {}
        proyList = []
        filterList=[];
        function hideAll(){
            for(var i=0;i<proyList.length;i++) {
                if(!proyList[i]["visible"]){
                    $("#"+proyList[i]["slug"]).hide()
                }else{
                    $("#"+proyList[i]["slug"]).show()
                }
            }
            animando1=false;
        }
        function processFilter(){
            for(var i=0;i<proyList.length;i++) {
                let tags=0;
                for(var j=0;j<proyList[i]["tags"].length;j++) {
                    let tag = proyList[i]["tags"][j]
                    for(var n=0;n<filterList.length;n++) {
                        if(tag==filterList[n]){
                            tags++;
                        }
                    }
                }
                if(tags==filterList.length){
                    proyList[i]["visible"]=true;
                    $("#"+proyList[i]["slug"]).show()
                    $("#"+proyList[i]["slug"]).removeClass("hide_content_mini")
                }else{
                    proyList[i]["visible"]=false;
                    $("#"+proyList[i]["slug"]).addClass("hide_content_mini")
                }
            }
            setTimeout(hideAll,300);
        }


        function drawTags(){
            for(var i=0;i<tagsList.length;i++){
                if(tagsList[i]["status"]==2) {
                    $("#tag-"+tagsList[i]["slug"]).addClass("tagselected")
                }else {
                    $("#tag-"+tagsList[i]["slug"]).removeClass("tagselected")
                    if(filterList.length>0){
                        $("#tag-"+tagsList[i]["slug"]).addClass("tagsecondary")
                    }else{
                        $("#tag-"+tagsList[i]["slug"]).removeClass("tagsecondary")
                    }
                }
            }
        }

    </script>
<section-large>
    <proyectos-page>

        <!--h1>DEL SUEÑO AL PROYECTO Y DEL PROYECTO A LA REALIDAD</h1-->
        <h1>{{ base.copete | safe }}</h1>
        <!--linea-larga></linea-larga-->
        <figcaption><h1 href="#" onclick="clearAll();return false;">{{ base.titulo | safe }}</h1></figcaption>
        <p></p>
        <linea-larga></linea-larga>
        <tags>


            {% for tag in tags %}
                <a id="myLink" title="{{ base.filtra }}"
                   href="#" onclick="clickOnTag('{{ tag }}');return false;"><span id="tag-{{ tag }}">{{ tag }}</span></a>
                <script>
                    tags["{{ tag }}"] = {}
                    tags["{{ tag }}"]["status"]=1;
                    tags["{{ tag }}"]["slug"] = "{{ tag }}";
                    tagsList.push(tags["{{ tag }}"]);
                </script>
            {% endfor %}

        </tags>

        <content id="holder1">
            {% for proyecto in proyectos %}
                <content_mini id="{{ proyecto.slug }}">
                    <bg>
                        <img src="{{ proyecto.imagen_principal.url }}" alt="">
                    </bg>
                    <titulo>
                        <span>{{ proyecto.titulo }}</span>
                    </titulo>
                    {% if proyecto.anio is not None %}
                    <fecha>
                        {{ proyecto.anio }}
                    </fecha>
                    {% endif %}
                <over><span>{{ base.abrir }}</span><p>{{ proyecto.titulo }}</p></over>
                </content_mini>
                <script>
                    $("#{{ proyecto.slug }}").on("click", function(){
                      OpenProyect("{{ proyecto.slug }}");
                    })

                    proy["{{ proyecto.slug }}"]={};
                    proy["{{ proyecto.slug }}"]["slug"]="{{ proyecto.slug }}";
                    proy["{{ proyecto.slug }}"]["visible"]=true;
                    proy["{{ proyecto.slug }}"]["tags"]=[{% for tag in proyecto.tags.all %}"{{ tag }}",{% endfor %}]


                    proyList.push(proy["{{ proyecto.slug }}"])
                </script>
            {% endfor %}
        </content>

    </proyectos-page>

</section-large>

{% include "bloques/footerblue.html" %}

<script src="{% static 'js/textFit.js' %}" ></script>
<script src="{% static 'js/proyectos.js' %}" type="module"></script>
<script>

    /*function OpenProyect(slug){
        core.selected=proy[slug]
        $("#holder1").addClass("content-closed")
        setTimeout(OpenProyect2,300)

        fetch("/get_ajax_data/"+slug, {
          method: "GET",
          headers: {
            "X-Requested-With": "XMLHttpRequest",
          }
        })
        .then(response => response.json())
        .then(data => {
          //console.log(data.imagenes);

            if(data["status"] == "ok"){
                //console.log(data);
                core.buildContent(data);
                pushState(slug);
            }

        });
    }
    function OpenNav(slug){
        core.selected=proy[slug]
        $("#holder"+core.currentId).addClass("content-closed")

        fetch("/get_ajax_data/"+slug, {
          method: "GET",
          headers: {
            "X-Requested-With": "XMLHttpRequest",
          }
        })
        .then(response => response.json())
        .then(data => {
          //console.log(data.imagenes);

            if(data["status"] == "ok"){
                //console.log(data);
                core.buildContent(data);
                //pushState(slug);
                setTimeout(OpenNext2,300)
            }

        });
    }
    function getPath(){
        let np = window.location.pathname.split("/");
        np.pop()
        return np.join("/")
    }
    function pushState(slug){
        core.stack.push(proy[slug])
        if (history.pushState) {

            const path = getPath();
            var newurl = window.location.protocol + "//" + window.location.host + path +"/" + slug;
            //var newurl = window.location.protocol + "//" + window.location.host + slug;
            window.history.pushState({path:slug,index:core.currentId},'',newurl);
        }
    }
    function popState(slug){
        if(history.pushState){
            window.history.back();
        }
    }
    function OpenProyect2(){
        $("#holder1").hide()
        $("#holder2").show()
        $("#holder2").removeClass("content-closed")
    }


    function closeAll(){
         $("#holder"+core.currentId).addClass("content-closed")
        $("#holder1").show()
         $("#holder1").removeClass("content-closed")
        setTimeout(()=>{
            for(var i=2;i<=core.currentId;i++){
                $("#holder"+i).remove()
            }
            core.currentId=1;
        },300)
        const path = getPath();
        var newurl = window.location.protocol + "//" + window.location.host + path +"/";
        //var newurl = window.location.protocol + "//" + window.location.host + slug;
        window.history.pushState({path:""},'',newurl);
    }
    window.onpopstate = function(event) {

        if(!event.state) {
            closeAll();
        }else{

            alert(event.state.path + " " + event.state.index)
            if(event.state.path==""){
                closeAll();
            }else if(event.state.index > core.currentId){
                OpenNav(event.state.path)
            }else if(event.state.index < core.currentId){
                //jumpBack(event.state.path, event.state.index);
                OpenNav(event.state.path)
            }
        }

    }
    function clickOnBack(){
        popState()
    }
    function jumpBack(slug, index){
        $("#holder"+core.currentId).addClass("content-closed")
        const toerase=$("#holder"+core.currentId)
        setTimeout(()=>{
            toerase.remove()
        },300)
        for(var e=core.currentId;e>index;e--){
            $("#holder"+e).remove()
        }
        core.currentId=index;
        if(core.currentId>1) {
            core.selected = core.stack[core.currentId - 2]
            core.stack.pop()
        }
        $("#holder"+core.currentId).show()
        $("#holder"+core.currentId).removeClass("content-closed")
    }
    function doOnBack(){
        $("#holder"+core.currentId).addClass("content-closed")
        const toerase=$("#holder"+core.currentId)
        setTimeout(()=>{
            toerase.remove()
        },300)
        core.currentId--
        core.stack.pop()
        if(core.currentId>1) {
            core.selected = core.stack[core.currentId - 2]
        }
        $("#holder"+core.currentId).show()
        $("#holder"+core.currentId).removeClass("content-closed")

    }
    function clickOnNext(){
        let index = proyList.indexOf(core.selected)
        if(index!=-1){
            const r = findNext(index)
            if(r!=false){
                core.selected=r;
                $("#holder"+core.currentId).addClass("content-closed")


                fetch("/get_ajax_data/"+r["slug"], {
                  method: "GET",
                  headers: {
                    "X-Requested-With": "XMLHttpRequest",
                  }
                })
                .then(response => response.json())
                .then(data => {
                  //console.log(data.imagenes);
                    if(data["status"] == "ok"){
                        //console.log(data);
                        core.buildContent(data);
                        pushState(r["slug"])
                        setTimeout(OpenNext2,300)
                    }

                });
            }
        }
    }
    function OpenNext2(){
        const prev = core.currentId-1;
        $("#holder"+prev).hide()
        $("#holder"+core.currentId).show()
        $("#holder"+core.currentId).removeClass("content-closed")
    }*/
    function findNext(index){
        let e=true
        let ni=index+1;
        while(e){
            if(ni>=proyList.length){
                ni=0;
            }
            if(ni==index){
                e=false;
                return false;
            }else if(filterList.length>0){

                let next=proyList[ni];
                let tags=0;
                for(var j=0;j<next["tags"].length;j++) {
                    //console.log(next["tags"][j]);
                    let tag = next["tags"][j]
                    for(var n=0;n<filterList.length;n++) {
                        if(tag==filterList[n]){
                            tags++;
                        }
                    }
                }
                if(tags==filterList.length){
                    return next
                }else{
                    //console.log(ni)
                    ni++;
                }
            }else{
                return proyList[ni]
            }
        }
    }
    function pushState(slug){
        //core.stack.push(proy[slug])
        if (history.pushState) {

            const path = getPath();
            const tags = urlTags();
            var newurl = window.location.protocol + "//" + window.location.host + path +"/" + slug+tags;
            //var newurl = window.location.protocol + "//" + window.location.host + slug;
            window.history.pushState({path:slug,index:core.currentId, tags:tags},'',newurl);

        }
    }
    function urlTags(){
        let r="";
        if(filterList.length>0){
            r+="?tags=";
            for(var n=0;n<filterList.length;n++) {
                r+=filterList[n];
                if(n<filterList.length-1){
                    r+=","
                }
            }
        }
        return r;
    }
    function getPath(){
        let np = window.location.pathname.split("/");
        np.pop()
        return np.join("/")
    }
    function loadUrlTags(){
        let nt=window.location.toString().split("?");

        if(nt.length>1){
            let nt2=nt[1].split("=");
            let tt=nt2[1].split(",");
            for(let i=0;i<tt.length;i++){
                //alert(tt[i]);
                for(let j=0;j<tagsList.length;j++){
                    if(tagsList[j]["slug"].toLowerCase()==tt[i].toLowerCase()){
                        filterList.push(tagsList[j]["slug"]);
                        tags[tagsList[j]["slug"]]["status"]=2;
                    }
                }
            }

        }
    }
    function loadUrlSlug(){
        let np = window.location.pathname.split("/");
        return np[np.length-1]
    }
    function checkOnLoad(){
        loadUrlTags();
        if(filterList.length>0) {
            processFilter()
            drawTags()
        }
        const slug = loadUrlSlug()
        if(slug!="" && slug!=undefined) {
            OpenNav(slug, false);
        }
    }
    function processUrlTags(list){
        list = list.split("=");
        if(list.length>1){
            list = list[1].split(",");
            for(let j=0;j<list.length;j++){

                filterList.push(list[j])
                tags[list[j]]["status"]=2;
            }
        }
    }
    function closeAll(){

        if(core.currentId==1){

            return;
        }
        $("#holder"+core.currentId).addClass("content-closed")
        $("#holder1").show()
        $("#holder1").removeClass("content-closed")
        setTimeout(()=>{
            for(var i=2;i<=core.currentId;i++){
                $("#holder"+i).remove()
            }
            core.currentId=1;
        },300)
    }
    function clearAll(){

        for(let i=0;i<filterList.length;i++){
            tags[filterList[i]]["status"]=1;
        }
        filterList=[]

        drawTags()
        closeAll()
        processFilter()
        pushState("")
    }
    window.onpopstate = function(event) {

        if(!event.state) {

            //closeAll();
            for(let i=0;i<filterList.length;i++){
                tags[filterList[i]]["status"]=1;
            }
            filterList=[]
            loadUrlTags()
            drawTags()
            const slug = loadUrlSlug()
            if(slug!="" && slug!=undefined) {

                OpenNav(slug, false);
            }else{

                closeAll()
                processFilter()
            }
        }else{

            //alert(event.state.path + " " + event.state.index)
            for(let i=0;i<filterList.length;i++){
                tags[filterList[i]]["status"]=1;
            }
            filterList=[]
            if(event.state.tags.length>0){

                processUrlTags(event.state.tags);
            }
            drawTags();
            if(event.state.path==""){
                if(core.currentId>1) {
                    closeAll();
                }
                processFilter()
            }else if(event.state.index > core.currentId){
                OpenNav(event.state.path, false)
            }else if(event.state.index < core.currentId){
                //jumpBack(event.state.path, event.state.index);
                OpenNav(event.state.path, false)
            }

        }

    }
    function OpenProyect(slug){
        OpenNav(slug);
    }
    function clickOnBack(){
        if(history.pushState){
            window.history.back();
        }
    }
    function OpenNav(slug, stack=true){
        core.selected=proy[slug]
        $("#holder"+core.currentId).addClass("content-closed")

        fetch("/get_ajax_data/"+slug, {
          method: "GET",
          headers: {
            "X-Requested-With": "XMLHttpRequest",
          }
        })
        .then(response => response.json())
        .then(data => {
          //console.log(data.imagenes);

            if(data["status"] == "ok"){
                //console.log(data);
                core.buildContent(data);
                if(stack) {
                    pushState(slug);
                }
                setTimeout(OpenNext2,300)
            }

        });
    }
    function OpenNext2(){
        const prev = core.currentId-1;
        if(prev>1) {
            $("#holder" + prev).remove()
        }else{
            $("#holder" + prev).hide()
        }
        $("#holder"+core.currentId).show()
        $("#holder"+core.currentId).removeClass("content-closed")
    }
    function clickOnNext(){
        let index = proyList.indexOf(core.selected)
        if(index!=-1){
            const r = findNext(index)
            if(r!=false){
                OpenNav(r["slug"])

            }
        }
    }
</script>
</body>
</html>